body
{
    font-family:Arial;
}
.menucontainer {
  text-align: right;
}
.OrderSummaryTable {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
}.OrderSummaryTable table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.OrderSummaryTable tr:nth-child(odd){ background-color:#aad4ff; }
.OrderSummaryTable tr:nth-child(even)    { background-color:#ffffff; }.OrderSummaryTable td{
	vertical-align:middle;	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-weight:normal;
	color:#000000;
}.OrderSummaryTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.OrderSummaryTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.OrderSummaryTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.OrderSummaryTable tr:first-child td{
	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
}
.OrderSummaryTable tr:first-child:hover td{
	background-color:#005fbf;
}
.OrderSummaryTable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.OrderSummaryTable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.OrderSummaryTotal {

	border:1px solid #000000;

    font-size: 12px;
    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;

    text-align:center;	

    margin-top:10px;
    margin-bottom:10px;
    margin-left:20px;
    margin-right:20px;

	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}
.subtitle {
  font-size: 10px;
}
.DateRange {
display:inline-block;
}
.DateRange a {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #000000;
  font-size: 14px;
  padding: 5px;
  background: #e4dfdf;
  text-decoration: none;
}

.DateRange a:hover {
  background: #3cb0fd;
  text-decoration: none;
}
.DateRangeSelected a {
  background: #005fbf;
  color: #ffffff;
}